<!-- Default home page -->
<link type="text/css" href='/bootstrap/css/bootstrap.min.css' rel='stylesheet'/>
<link type="text/css" href='/styles/styles.less' rel='stylesheet'/>
<!-- <nav class="navbar navbar-default" role="navigation"> -->
<!--   <div class="container-fluid"> -->
<!--     <\!-- Brand and toggle get grouped for better mobile display -\-> -->
<!--     <div class="navbar-header"> -->
<!--       <a class="navbar-brand" href="#">JSK GoPro Server</a> -->
<!--     </div> -->

<!--     <\!-- Collect the nav links, forms, and other content for toggling -\-> -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
<!--       <ul class="nav navbar-nav"> -->
<!--         <li class="active"><a href="#">Link</a></li> -->
<!--         <li><a href="#">Link</a></li> -->
<!--       </ul> -->
<!--     </div><\!-- /.navbar-collapse -\-> -->
<!--   </div><\!-- /.container-fluid -\-> -->
<!-- </nav> -->
<div>
  <div class="top">
    <div class="jumbotron">
      <div class="container">
        <h1>JSK GoPro Server</h1>
        <p>All rights reserverd by JSK Lab and the lab members.</p>
      </div>
    </div>
  </div>
  <p>hello world</p>
</div>
